---

---

<div class="relative min-h-screen bg-black text-white snap-always snap-center">
    <div class="flex items-center justify-center h-screen">
      <div class="flex items-center justify-center h-screen m-16 lg:m-0">
        <div class="text-center">
          <h1 class="text-4xl text-red-500 font-bold animate-pulse">
            sixhundredseventy
          </h1>
          <div class="border-t-2 border-gray-300 my-4 w-1/2 mx-auto"></div>
          <p class="text-lg leading-relaxed">
            Hey there! I'm <span class="font-bold text-red-500">Marek</span>, a dedicated developer from <span class="font-bold text-red-500">Denmark</span>.<br>
            I have a passion for <span class="font-bold text-red-500">coding</span> and <span class="font-bold text-red-500">learning new things</span>.<br>
            I currently work as an IT specialist, with expertise in <span class="font-bold text-red-500">Networking</span> and <span class="font-bold text-red-500">System Administration</span>.<br>
            While my main profession is IT, coding is my hobby that allows me to explore new technologies and create innovative solutions.
          </p>
        </div>
      </div>
    </div>
    <div class="absolute bottom-4 w-full flex justify-center">
      <div class="animate-bounce">
        <svg class="w-10 h-10 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </div>
    </div>
  </div>
  