---
import { Icon } from 'astro-icon/components'
---

<div class="relative min-h-screen flex items-center justify-center bg-white text-black snap-always snap-center">
  <div class="text-center">
    <p class="text-2xl mb-4 text-red-500 font-bold shadow-lg bg-gray-100 px-2">
      Get in touch with me at:
    </p>
    <div class="flex justify-center items-center text-4xl space-x-8">
      <a href="mailto:contact"><Icon name="mdi:email" class="text-black"/></a>
      <a href="https://github.com/sixhundredseventy"><Icon name="devicon:github" class="text-white"/></a>
      <a href="https://twitter.com/670er"><Icon name="devicon:twitter" class="text-white"/></a>
    </div>
  </div>
</div>
