---
import { Icon } from 'astro-icon/components'
---

<div class="relative min-h-screen flex items-center justify-center bg-black text-white snap-always snap-center p-4">
  <div class="max-w-7xl mx-auto text-6xl">
    <h2 class="text-4xl text-center font-bold mb-8 text-red-500">Technologies I Use</h2>
    <div class="space-y-8">
      <div>
        <h3 class="text-2xl font-bold mb-4 text-white">Languages</h3>
        <div class="flex justify-center items-center space-x-4">
          <Icon name="devicon:rust" class="bg-white rounded-full" />
          <Icon name="devicon:cplusplus" />
          <Icon name="devicon:c" />
          <Icon name="devicon:go-wordmark" />
          <Icon name="devicon:javascript" />
          <Icon name="devicon:elixir" />
          <Icon name="devicon:php" />
        </div>
      </div>
      <!-- Frameworks -->
      <div>
        <h3 class="text-2xl font-bold mb-4 text-white">Frameworks</h3>
        <div class="flex justify-center items-center space-x-4">
            <Icon name="devicon:astro" class="bg-white rounded-full"  />
            <Icon name="devicon:fastify" class="bg-white rounded-full"  />
            <Icon name="devicon:sass" />
            <Icon name="devicon:tailwindcss" />
            <Icon name="devicon:fiber" />
        </div>
      </div>
      <!-- Cloud Providers -->
      <div>
        <h3 class="text-2xl font-bold mb-4 text-white">Cloud Providers</h3>
        <div class="flex justify-center items-center space-x-4">
          <Icon name="devicon:amazonwebservices-wordmark" />
          <Icon name="devicon:azure" />
          <Icon name="devicon:cloudflare" />
        </div>
      </div>
      <div>
        <h3 class="text-2xl font-bold mb-4 text-white">Technologies</h3>
        <div class="flex justify-center items-center space-x-4">
          <Icon name="devicon:docker"/>
          <Icon name="devicon:kubernetes"/>
          <Icon name="devicon:terraform"/>
          <Icon name="devicon:redis" />
          <Icon name="devicon:postgresql" />
          <Icon name="devicon:nginx" />
          <Icon name="devicon:traefikproxy" />
          <Icon name="devicon:packer" />
        </div>
      </div>
      <!-- Tools -->
      <div>
        <h3 class="text-2xl font-bold mb-4 text-white">Tools</h3>
        <div class="flex justify-center items-center space-x-4">
          <Icon name="devicon:aftereffects" />
          <Icon name="devicon:photoshop" />
          <Icon name="devicon:github"/>
          <Icon name="devicon:visualstudio" />
          <Icon name="devicon:vscode"/>
          <Icon name="devicon:notion" />
          <Icon name="devicon:insomnia" />
        </div>
      </div>
    </div>
  </div>
</div>
